@import "./theme.scss";

.app {
  width: 100%;
  height: 100%;
  background-color: $mono1;
}

.sideBar {
  width: 100px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  .sideBardiv {
    height: 90px;
    width: 90px;
    background-color: $mono2;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    user-drag: none;
    -webkit-user-drag: none;
    outline: none;
    border: none;

    .name {
      text-align: center;
      color: $mono3;
      font-size: 14px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    .icons {
      width: calc(100% - 30px);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }

    .icon {
      color: $mono3;
    }

    &:hover {
      background-color: lighten($mono2, 10);
    }
  }

  .active {
    background-color: lighten($mono2, 20) !important;
    pointer-events: none;

    .name,
    .icon {
      color: $mono1;
    }
  }
}

// Transition styles
.transition {
  height: 100%;
  width: 100%;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms ease-in-out;
}
